<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
        xmlns:beans="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">

        <http auto-config="true" use-expressions="true">
	        <intercept-url pattern="/Login" access="permitAll" />	        
	        <intercept-url pattern="/logout" access="permitAll" />
	        <intercept-url pattern="/inactive" access="permitAll" />
	        <intercept-url pattern="/accessdenied" access="permitAll" />
	        <intercept-url pattern="/resources/**" access="permitAll" />
	        <intercept-url pattern="/**" access="hasRole('Connect')" />
	        <form-login login-page="/Login" default-target-url="/Inicio"
	            always-use-default-target="true"	                     
	            authentication-failure-url="/Login?error" />
	        <logout logout-success-url="/Login" logout-url="/logout" invalidate-session="false"/>
	       	<session-management invalid-session-url="/inactive" />
        </http>

        <authentication-manager>
             <authentication-provider>
                 <password-encoder hash="md5"/>
                     <jdbc-user-service data-source-ref="theDataSource"
                       users-by-username-query="select login, password_hash password, 'true' enabled from Usuario where login=?"
                       authorities-by-username-query=" select u.Login,ur.rolNombre as Descripcion FROM Usuario u
                                                                                           join UsuarioRol ur
                                                                                           on u.id = ur.usuarioId                                                                                           
                                                                                           where u.login = ?"
               />
             </authentication-provider>
         </authentication-manager>
                  
</beans:beans>